extends ../layout 

block content 
  if book
    div.well.well-lg
      h1= book.title 
      h3= book.author
      p Rating: #{book.rating}
      p= book.description 
      p 
        a.btn-link(href='/books/edit') Edit
        form(action='#' method='')
          input.btn.btn-link(type='submit' value='Delete')
